* {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: sans-serif;
    transition: background-color 0.5s ease;
}
title {
    display: none;
}
body {
    background-color: #e0abee2b;
}
h2 {
    color: #895296;
}
h1 {
    color: rgb(110, 66, 121);
}

.abcs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    min-width: 100px;
}
.abc {
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 7px;
    height: 60px;
    width: 60px;
    border: 3px solid;
    border-color: lightgrey grey grey lightgrey;
    box-shadow: .2px .2px 0px .2px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-size: 25px;
}

.guessAndHangman {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.letter-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.letter-box {
    border-bottom: 5px solid grey;
    border-top: 4px solid rgba(211, 211, 211, 0.39);
    border-left: 4px solid rgba(211, 211, 211, 0.39);
    border-right: 4px solid rgba(211, 211, 211, 0.39);
    background-color: rgba(211, 211, 211, 0.526);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    width: 70px;
    font-size: 40px;
    font-family: cursive;
    color: #6e4279;
}
.correct {
    background-color:  rgba(128, 128, 128, 0.79);
    color: white;
    border: 5px solid;
    border-color: lightgray rgb(29, 160, 89) rgb(29, 160, 89) lightgray;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
}
.wrong {
    background-color:  rgba(128, 128, 128, 0.79);
    color: white;
    border-color: lightgray rgb(75, 74, 74) rgb(75, 74, 74) lightgray;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
}
.win {
    font-weight: bolder;
    color: purple;
}
i {
    display: none;
}
